/* Basic styling */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 20px;
    margin-top: 30px;
    width: 80%;
    max-width: 1200px;
    margin-bottom: 20px;
    text-align: left;
}

/* Container for both video player and playlist */
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

/* Video player styling */
.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 0;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #222;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Playlist */
ul {
    list-style: none;
    padding: 0;
    width: 25%;
    margin: 0;
    height: 450px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: black;
    background: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
}

li:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

li.active {
    background-color: #b3d9ff;
    border-color: #66b3ff;
}

/* Play button style */
.play-button {
    margin-right: auto;
    background: #7173eb;
    color: white;
    border: 2px solid #ffffff;
    padding: 3px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s;
}

.play-button:hover {
    opacity: 0;
    transition: opacity 0.3s ease;
    background: none;
}

/* Description section */
.description {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    width: 80%;
    max-width: 1000px;
    text-align: left;
    display: none;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    ul {
        width: 100%;
        height: auto; /* Allow height to adapt */
    }

    li {
        width: 100%;
        font-size: 14px;
    }
}

/* Adjustments for landscape mode */
@media (orientation: landscape) {
    .container {
        flex-direction: row;
    }

    ul {
        width: 30%;
    }
}
